@import url(null.css);

@font-face {
	font-family: 'Conv_Kurale-Regular';
	src: url('../fonts/Kurale-Regular.eot');
	src: local('☺'), url('../fonts/Kurale-Regular.woff') format('woff'), url('../fonts/Kurale-Regular.ttf') format('truetype'), url('../fonts/Kurale-Regular.svg') format('svg'), url('../fonts/Kurale-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

.wrap {
	width: 100%;
	height: 100vh;
	position: relative;
	font-size: 14px;	
}

/* .decor-block {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #000;
} */

.header {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0;
	padding: 5px 10px;
	color: rgb(255, 255, 255);
	font-family: 'Conv_Kurale-Regular', serif;
	font-size: 1.5rem;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
		
}
.logo {
	opacity: 0;
	animation: header 1.5s ease 1 normal 2s forwards;	
}
.slogan {
	color:rgb(211, 193, 35);
	font-size: 1.7rem;

}


.menu-burger {
	display: block;
	position: relative;
	width: 27px;
	height: 16px;
	transition: all 0.3s ease 0s;
	z-index: 100;
}
.menu-burger::before,
.menu-burger::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ffffff;;
	left: 0;
	transition: all 0.3s ease 0s;
}
.menu-burger::before {
	top: 0px;
}
.menu-burger::after {
	bottom: 0px;
}
.menu-burger span {
	position: absolute;
	left: 0;
	background-color: #ffffff;
	width: 100%;
	height: 2px;
	top: 7px;
	transition: all 0.3s ease 0s;
}
.menu-burger.active::before {
	content: "";
	background-color: #3c3d07;
	transform: rotate(45deg);
	top: 6px;
	z-index: 100;
}
.menu-burger.active::after {
	content: "";
	background-color: #3c3d07;
	transform: rotate(-45deg);
	bottom: 8px;
	z-index: 100;
}
.menu-burger.active span {
	transform: scale(0);
}
.menu-burger {
	position: relative;
	
}
.header__menu {
	display: block;
	position: fixed;
	left: -100%;
	top: 0;
	overflow: auto;
	width: 80%;
	height: 100%;
	background-color: rgba(128, 133, 118, 0.952);
	padding: 82px 0 0 0;
	transition: all 0.5s ease 0s;
	z-index: 50;
}
.header__menu.active {
	left: 0;
	z-index: 20;
	border-right: 0.5px solid #beb9b9;
	transition: all 0.5s ease 0s;
}

.logo {
	width: 70px;
}
.logo img {
	border-radius: 43%;
	max-width: 100%;
}

.video {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -10; 
}

.video_media {    
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;  
}



.aside {
	display: flex;	
	position: relative;
	left: 0;
	padding: 0 20px;
	z-index: 5;
	opacity: 0;
	animation: avatar 1.5s ease 1 normal 4s forwards;
}
.aside::after {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);

}

.performers {
	position: relative;
	z-index: 10;
	padding: 84px 0px 70px 0px;
  
}

.performer img {
	max-width: 100%;	
	border-radius: 50%;
	border: 2px solid #fff;
}

.disk {
  position: relative; 
  background: #616161;
  width: 130px;
  padding: 1px; border-radius: 50%;  /* адаптивный круг */
  margin: 2px;
  font: 18px 'Times New Roman'; 
  text-transform: uppercase;
}
.disk:nth-child(n+2) {
	margin-top: 200px;
}
.disk b {
  position: absolute;
  left: 50%; /* все буквы ставим в одну точку*/
  width: 0; /* убираем отступ */
  color: #fff;
}




/* мир */
.disk b:nth-of-type(n+1) {
  top: 70%;
  -ms-transform-origin: 50% 0; 
  -webkit-transform-origin: 50% 0; transform-origin: 50% 0;
  padding-top: 50%; /* влияет на удаление букв от средины окружности */
}
.disk b:nth-last-of-type(1) {-ms-transform: rotate(330deg); -webkit-transform: rotate(330deg); transform: rotate(309deg);} /*Укажем расположение для буквы М*/
.disk b:nth-last-of-type(2) {-ms-transform: rotate(10deg); -webkit-transform: rotate(10deg); transform: rotate(326deg);} /*Укажем расположение для буквы И*/
.disk b:nth-last-of-type(3) {-ms-transform: rotate(353deg); -webkit-transform: rotate(26deg); transform: rotate(343deg);} /*Укажем расположение для буквы Р*/
.disk b:nth-last-of-type(4) {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);} /*Укажем расположение для буквы Р*/
.disk b:nth-last-of-type(5) {-ms-transform: rotate(6deg); -webkit-transform: rotate(26deg); transform: rotate(17deg);} /*Укажем расположение для буквы Р*/
.disk b:nth-last-of-type(6) {-ms-transform: rotate(26deg); -webkit-transform: rotate(26deg); transform: rotate(34deg);} /*Укажем расположение для буквы Р*/
.disk b:nth-last-of-type(7) {-ms-transform: rotate(26deg); -webkit-transform: rotate(26deg); transform: rotate(51deg);} /*Укажем расположение для буквы Р*/


.empty-block {
	position: relative;
  top: 0px;
  z-index: 30;
  width: 100%;
  height: 190px;
}

.about-me {
	color: #ffffff;
	padding: 100px 0px 0px 40px;
	z-index: 20;
	font-size: 1.2em;
	font-family: 'Conv_Kurale-Regular';
	line-height: 24.5px;
}
.about-me p {
	margin-bottom: 10px;
}




/*  slick-slider  */

.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider-container {
	width: 100%;
	height: 550px;
	background-color: #000;
}


.slider .slick-arrow {
	position: absolute;
	top: 40%; 
	z-index: 10;
	font-size: 0;
}
.slider .slick-arrow::before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 40px;
	height: 40px;	
	border-radius: 50%;
	padding: 8px 12px;
	z-index: 8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.slider .slick-arrow.slick-prev {
	left: 0;	
}
.slider .slick-arrow.slick-prev::before {
	background: #fff url('../images/icon/arrow-prev.svg') center / 16px 24px no-repeat;
}
.slider .slick-arrow.slick-next {
	right: 24px;
}
.slider .slick-arrow.slick-next::before {
	background: #fff url('../images/icon/arrow-next.svg') center / 16px 24px no-repeat;
}

.slider__title {
	color: #fff;
	padding: 70px 10px 50px 10px;
	font-family: 'Conv_Kurale-Regular', serif;
	font-size: 2rem;
	z-index: 10;
}


.slider__item {
	width: 298px;
	height: 400px;	
	padding-left: 0;
	margin-right: 39px;
	margin-right: 15px;
	background-color: #fff;
}

.slider-images {
	
	object-fit: cover;
	height: 400px;	
  
}


/*  slick-slider - end  */






@keyframes header {
0%{
	opacity: 0;
  }
100%{
	opacity: 1;
  }
}

@keyframes avatar {
0%{
	opacity: 0;
  }
100%{
	opacity: 1;
  }
}

